.savedProductCardDeleteIcon {
  font-size: inherit;
  font-variation-settings: 'wght' 400;
  padding: 1rem;
  border-radius: 50%;
  background-color: var(--background-main-primary-transparent);
  border: none;
}
