.searchForm {
  width: auto;
  text-align: center;
  background-color: var(--background-major);
  position: relative;
}

.searchInput {
  font-family: inherit;
  width: 100%;
  padding: 1rem;
  font-size: var(--font-size-extra-1);
  outline: none;
  border: 0.5rem solid var(--extraColor-lightGrey);
  border-radius: 1rem;
  font-weight: 500;
}

.searchInput::placeholder {
  font-weight: 400;
}

.searchFormSubmitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 1rem;
  border: none;
  background-color: var(--background-main-primary);
  border: 0.5rem solid var(--extraColor-lightGrey);
  color: var(--background-main-secondary);
}
